<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <style>
        html {
            font-family: "Courier New", Courier, monospace;
            margin: 0 auto;
            max-width: 999px;
            background: black;
            color: #aaa;
        }
        a {
          color: white;
          text-wrap: balance;
        }
        .container {
            display: flex;
            flex-direction: column;
            gap: 1em;
            font-size: 2em;
        }
        .content > p {
            overflow: scroll;
        }
        .nav {
            display: flex;
            justify-content: space-evenly;
            column-gap: 2ch;
            flex-wrap: wrap;
        }
        .post {
            display: flex;
            justify-content: space-between;
            padding: 4px 0;
        }
        .post-date { flex-shrink: 0; }
        .about { text-align: justify; }
        .date  { text-align: center; }

         h1, h2, h3, h4, h5, h6 {  text-align: center; color: white; }
         h1 { font-size: 1.5em; }
         h2 { font-size: 1.4em; }
         h3 { font-size: 1.3em; }
         h4,h5,h6 { font-size: 1.2em; }

        pre {
            padding-left: 2ch;
            overflow-x: auto;
        }

        pre > code {
            font-family: monospace;
            font-weight: bolder;
        }
        p > code, li > code {
            font-family: monospace;
            text-decoration: underline;
            font-weight: bolder;
            font-style: italic;
        }
        del {
            color: #888;
        }

        /* For mobile phones: */
        @media only screen and (width < 990px) {
            .post { padding: 16px 0; }
            .post-date { display: none; }
            html {
                max-width: 100%;
                padding: 3em 1em 0 1em;
                font-size: 1.5em;
                line-height: 1.25;
          }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="nop"></div>
    <div class="nav">
        <a href="/">index.html</a>
        <a href="/atom.xml">rss</a>
        <a href="mailto:alex@nikonov.tech">email</a>
        <a target="_blank" href="https://github.com/nikonov1101">github</a>
        <a target="_blank" href="https://t.me/nikonov1101">telegram</a>
    </div>

    {{ if .Posts }}
    <div class="about">
        Heyo! I'm Alex, village guy against the common sense.
        Check out my curiosity playground below.
    </div>
    <div class="content">
        {{ range .Posts }}
        <div class="post">
          <a href="{{ .Href }}">{{ .Title }}</a>
          <span class="post-date">{{ .Date }}</span>
          </div>
        {{- end }}
    </div>
    {{- else }}
    <div class="title"><h1>{{ .Title }}</h1></div>
    <div class="date">{{ .Date }}</div>
    <div class="content">{{ .OrContent }}</div>
    {{- end }}
</div>
</body>
</html>
